# These owners will be the default owners for everything in the repo.
*       @marc-sensenich

stable/vault-init-container/* @marc-sensenich
stable/iiif                   @marc-sensenich @jhosteny
stable/mitm-shader            @marc-sensenich @jhosteny
